/* -----HEADER----- */
.fixed {
  position: fixed;
  z-index: 2000;
  background-color: lightgrey;
  width: 100%;
}

span {
  color: rgb(4, 163, 4);
}

/* -----FIN HEADER----- */

/* -----SLIDER----- */
#slidepictures {
  width: 100%;
}

.slick-prev {
  left: 25px !important;
  top: 100px !important;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-next {
  right: 25px !important;
  top: 100px !important;
}

/* -----FIN SLIDER----- */


/* -----SOUS SLIDER----- */
#separation {
  background-color: rgb(170, 168, 168);
  opacity: 20%;
  margin: 10px;
  height: 10px;
  width: 700px;
}

h2 {
  margin-left: -440px;
  font-weight: bold;
  color: rgb(58, 58, 58);
}

/* -----FIN SOUS SLIDER----- */

/* ARTICLE */
.row,
.col-3,
span {
  text-align: center;
  font-weight: bold;
}

/* FIN ARTICLE */


/* -----FOOTER----- */


footer .blanc {
  background-color: #2c545c;
  color: rgb(255, 255, 255);
  padding-top: 12px;
  height: 50px;
}

footer .row {
  margin: 20px;
}

footer .row:first-child {
  margin: 0;
}

footer .row:nth-child(1) span {
  color: #e78400;
}

footer h4 {
  color: rgb(46, 46, 46);
}

footer input[type=file] {
  display: none;
}

/* -----FIN FOOTER----- */

/* -----BOUTON REMONTER TOP----- */
#fleche {
  font-size: 4em;
  top: 75px;
  right: 15px;
  display: none;
  position: fixed;
}

/* -----FIN BOUTON REMONTER TOP----- */

/* -----FORMULAIRE----- */
#contact {
  border: lightgray solid 2px;
  padding: 25px;
}

#area {
  resize: none;
}

.error {
  color: red;
  font-weight: bold;
}

.formStyle {
  padding-top: 25px;
  color: gray;
}

/* -----FIN FORMULAIRE----- */

/* -----RENSEIGNEMENTS----- */
.fas {
  float: left;
  font-size: 40px;
  margin-right: 30px;
}

.fas-heigth {
  height: 80px;
}

#adresse,
#telephone,
#email {
  color: gray;
  padding: 20px 0;
}

#telephone {
  border-top: lightgray solid 2px;
  border-bottom: lightgray solid 2px;
}

#defilement {
  height: 283.23px;
  display: none;
}

/* -----FIN RENSEIGNEMENTS----- */

.erreur {
  color: red;
  font-weight: bold;
  display: none;
}