body {
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: black;
  color: white;
}


.erreur {
  color: red;
  font-weight: bold;
  display: none;
}

.valid {
  color: green;
  font-size: 30px;
}

table {
  text-align: center;
  
}


label {
  font-weight: bold;
}